@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-950 text-slate-100;
  }
}

/* Leaflet Container Styling */
.leaflet-container {
  font-family: inherit;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.custom-map-marker {
  background: transparent;
  border: none;
}
